.default-layout-wrapper {
  @apply flex flex-col min-h-screen w-screen;
}

.app-layout-header {
  height: 60px;
  @apply flex justify-between items-center px-8 shadow-sm shadow-gray-300 dark:shadow-gray-700;
  .center-container {
    @apply flex-1 justify-start items-center px-10;
  }
  .right-container {
    @apply flex items-center space-x-4 justify-end;
  }
}
.app-layout-main {
  background-color: hsl(var(--background));
  @apply w-screen flex flex-1 flex-col mt-1;
}

.app-layout-footer {
  background-color: hsl(var(--background));
  height: 48px;
  @apply text-center;
}
